@{
    ViewBag.Title = "What They Said";
}

  <!-- What They Said - Title Row -->
<div class="container-fluid" id="what-they-said">
    <div class="row title-row parallax-window" data-parllax="scroll" data-image-src="app/images/Home_Intro_Image.jpg">
        <img class="img-responsive" src="app/images/LocalRaves_Floater.png" alt="Local Raves" />
    </div>
</div>
<!-- What They Said - Content -->
<div class="container what-they-said wow fadeIn">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <a href="http://425magazine.com/feather-in-his-toque-blanche/" target="_blank"><q>Feather in His Toque Blanche – John Howie opens Beardslee Public House in Bothell</q></a>
            <cite>&raquo; 425 Magazine</cite>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="http://www.heraldnet.com/article/20151009/ENT/151009151" target="_blank"><q>Beardslee Public House does upscale pub grub, beer</q></a>
            <cite>&raquo; HeraldNet</cite>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="http://nwbeerguide.blogspot.com/2015/10/brewery-news-wa-bothell-john-howies.html" target="_blank"><q>Brewery News: WA: Bothell: John Howie's Beardslee Public House's Drew Cluley and Jed Laparade sit down over beers and bites</q></a>
            <cite>&raquo; Northwest Beer Guide</cite>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <a href="https://www.thrillist.com/eat/seattle/the-8-best-new-seattle-restaurants-on-the-eastside-bellevue-redmond-kirkland?share=c" target="_blank"><q>8 New Eastside Restaurants Worth Crossing The Lake For</q></a>
            <cite>&raquo; Thrillist</cite>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="http://washington.newschoolbeer.com/2015/10/19/john-howie-brews-a-new-venture-beardslee-public-house/" target="_blank"><q>John Howie Brews A New Venture: Beardslee Public House</q></a>
            <cite>&raquo; The New School</cite>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="http://www.heraldnet.com/article/20151007/BLOG57/151009190" target="_blank"><q>Longtime Seattle brewer heads up new brewery in Bothell</q></a>
            <cite>&raquo; Hops &amp; Sips</cite>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <a href="http://www.washingtonbeerblog.com/beardslee-public-house-ready-for-you/" target="_blank"><q>Beardslee Public House is now ready for you to enjoy</q></a>
            <cite>&raquo; Washington Beer Blog</cite>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="http://craftbeermonger.com/2015/10/07/a-closer-look-inside-beardslee-public-house/" target="_blank"><q>A Closer Look Inside Beardslee Public House</q></a>
            <cite>&raquo; Craft Beer Monger</cite>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="http://www.heraldnet.com/article/20150915/BLOG31/150919686/Briefs-Howies-Beardslee-Public-House-raises-3000-for-UW-Bothell-" target="_blank"><q>Howie's Beardslee Public House raises money for UW Bothell, Cascadia College</q></a>
            <cite>&raquo; HeraldNet</cite>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <a href="https://www.zagat.com/l/seattle/the-10-hottest-new-restaurants-in-seattle" target="_blank"><q>The 10 Hottest New Restaurants in Seattle</q></a>
            <cite>&raquo; ZAGAT</cite>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="http://seattle.eater.com/maps/best-new-seattle-restaurants-heatmap" target="_blank"><q>The Hottest Restaurants In and Around Seattle Right Now, November 2015</q></a>
            <cite>&raquo; Seattle Eater</cite>
        </div>
    </div>
</div>

