@{
    ViewBag.Title = "What We Make";
}


<!-- What We Make - Title Row -->
<div class="container-fluid" id="what-we-make">
    <div class="row title-row parallax-window" data-parllax="scroll" data-image-src="app/images/Ales_Intro_Image.jpg">
        <img class="img-responsive" src="app/images/LocalAles_Floater.png" alt="Local Ales" />
    </div>
</div>
<!-- What We Make - Content -->
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#explore-our-menus" role="tab" data-toggle="tab">Explore Our Menus</a></li>
        <li role="presentation"><a href="#year-round-offerings" role="tab" data-toggle="tab">Year Round Offerings</a></li>
        <li role="presentation"><a href="#seasonal" role="tab" data-toggle="tab">Seasonal</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="explore-our-menus">
            <!-- What We Make - Explore Our Menus -->
            <div class="row text-center">
                <h1><img class="hidden-xs" src="app/images/Decorative_Left.png" alt="Decorative Image"> Explore Our Menus <img class="hidden-xs" src="app/images/Decorative_Right.png" alt="Decorative Image"></h1>
                <p class="lead">
                    Beardslee Public House specializes in the creation of high-quality, scratch-casual cuisine. Most everything on the menu is made in house with carefully chosen locally sourced ingredients.
                </p>
                <p class="lead">
                    The Beardslee menu has something for everyone and features a variety of delicious food preparations you might expect, such as house-made burgers, hand-tossed pizzas and an assortment of sausages – as well as unexpected and unusual culinary delights, such as grilled Kalbi pork jerky, the veggi rillette (otherwise known as ratatouille in a jar) and numerous other hand-crafted artisan charcuterie specialties (don’t miss the chef’s charcuterie platter, pork rillette and country pate).
                </p>
                <p class="lead">
                    Close proximity to world-class craft beer and its ingredients influenced the creation of this menu and makes beverage pairing easy. Beardslee-inspired dishes include: the stout-infused deviled eggs, Greenleaf IPA & jalapeno hummus, the spent grain pretzel – a soft pretzel made with grains from Beardslee beer and served with stout-infused mustard, ale battered Walla Walla onion rings, hand-tossed pizzas with malted grains used to make the crust and the Beardslee Pale Ale, cauliflower and cheddar cheese soup with frizzled onions.
                </p>
                <p class="lead">
                    The history of Bothell is steeped in the logging industry to honor that tradition we have named many of our beers after classic and unusual timber and logging terms or some after historic Bothelltonians! We hope you enjoy the names as much as the brews themselves, Cheers!
                </p>
            </div>
            <!-- What We Make - Images -->
            <div class="row text-center wow fadeInLeft">
                <div class="visible-xs visible-sm">
                    <div class="col-xs-6 col-sm-3">
                        <a href="https://beardslee.blob.core.windows.net/menu/beer.pdf?@DateTime.Now.Ticks" target="_blank">
                            <img class="beer-menu center-block img-responsive" src="app/images/what-we-make/Beer_menu.png" alt="Beer Menu" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="https://beardslee.blob.core.windows.net/menu/drinks.pdf?@DateTime.Now.Ticks" target="_blank">
                            <img class="drink-menu center-block img-responsive" src="app/images/what-we-make/Drink_menu.png" alt="Drink Menu" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="https://beardslee.blob.core.windows.net/menu/happyhour.pdf?@DateTime.Now.Ticks" target="_blank">
                            <img class="happy-hour-menu center-block img-responsive" src="app/images/what-we-make/HappyHour_menu.png" alt="Happy Hour Menu" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="https://beardslee.blob.core.windows.net/menu/food.pdf?@DateTime.Now.Ticks" target="_blank">
                            <img class="food-menu center-block img-responsive" src="app/images/what-we-make/Food_menu.png" alt="Food Menu" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="https://beardslee.blob.core.windows.net/menu/glutenfree.pdf?@DateTime.Now.Ticks" target="_blank">
                            <img class="gluten-free-menu center-block img-responsive" src="app/images/what-we-make/GlutenFree_Menu.png" alt="Gluten Free Menu" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="https://beardslee.blob.core.windows.net/menu/dinnerspecials.pdf?@DateTime.Now.Ticks" target="_blank">
                            <img class="dinner-special-menu center-block img-responsive" src="app/images/what-we-make/DinnerSpecial_menu.png" alt="Dinner Special Menu" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-3">
                        <a href="https://beardslee.blob.core.windows.net/menu/lunchspecials.pdf?@DateTime.Now.Ticks" target="_blank">
                            <img class="lunch-special-menu center-block img-responsive" src="app/images/what-we-make/LunchSpecial_menu.png" alt="Lunch Special Menu" />
                        </a>
                    </div>
                </div>
                <div class="visible-md visible-lg">
                    <a href="https://beardslee.blob.core.windows.net/menu/beer.pdf?@DateTime.Now.Ticks" target="_blank"><img class="beer-menu" src="app/images/what-we-make/Beer_menu.png" alt="Beer Menu" /></a>
                    <a href="https://beardslee.blob.core.windows.net/menu/drinks.pdf?@DateTime.Now.Ticks" target="_blank"><img class="drink-menu" src="app/images/what-we-make/Drink_menu.png" alt="Drink Menu" /></a>
                    <a href="https://beardslee.blob.core.windows.net/menu/happyhour.pdf?@DateTime.Now.Ticks" target="_blank"><img class="happy-hour-menu" src="app/images/what-we-make/HappyHour_menu.png" alt="Happy Hour Menu" /></a>
                </div>
                <div class="visible-md visible-lg">
                    <a href="https://beardslee.blob.core.windows.net/menu/food.pdf?@DateTime.Now.Ticks" target="_blank"><img class="food-menu" src="app/images/what-we-make/Food_menu.png" alt="Food Menu" /></a>
                    <a href="https://beardslee.blob.core.windows.net/menu/glutenfree.pdf?@DateTime.Now.Ticks" target="_blank"><img class="gluten-free-menu" src="app/images/what-we-make/GlutenFree_Menu.png" alt="Gluten Free Menu" /></a>
                    <a href="https://beardslee.blob.core.windows.net/menu/dinnerspecials.pdf?@DateTime.Now.Ticks" target="_blank"><img class="dinner-special-menu" src="app/images/what-we-make/DinnerSpecial_menu.png" alt="Dinner Special Menu" /></a>
                    <a href="https://beardslee.blob.core.windows.net/menu/lunchspecials.pdf?@DateTime.Now.Ticks" target="_blank"><img class="lunch-special-menu center-block img-responsive" src="app/images/what-we-make/LunchSpecial_menu.png" alt="Lunch Special Menu" /></a>
                </div>
            </div>
            <div class="text-center lead">
                The menu and menu pricing may change at any time,  that the menus are a representation of what we have but may not be complete at all times!
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="year-round-offerings">
            <!-- What We Make - Year Round Offerings -->
            <div class="row text-center">
                <h1><img class="hidden-xs" src="app/images/Decorative_Left.png" alt="Decorative Image"> Year Round Offerings <img class="hidden-xs" src="app/images/Decorative_Right.png" alt="Decorative Image"></h1>
            </div>
            <!-- What We Make - Menu Images -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-2 col-sm-offset-1 hidden-xs">
                        <img class="img-responsive" src="app/images/what-we-make/Home_Beer_SlideIn_2.png" alt="Beer" />
                    </div>
                    <div class="col-sm-9">
                        <h2>Bastard Grain Pale Ale</h2>
                        <p class="lead">
                            A crisp easy drinking ale featuring hop varieties from England.  Slightly malt forward with moderate bitterness and a floral hop aroma. <br /><br />IBU 40; 5.5% abv
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2 col-sm-offset-1 hidden-xs">
                        <img class="img-responsive" src="app/images/what-we-make/Home_Beer_SlideIn_3.png" alt="Beer" />
                    </div>
                    <div class="col-sm-9">
                        <h2>Greenleaf IPA</h2>
                        <p class="lead">
                            Hops, Hops, Hops.  Using a technique called hop-bursting, our IPA derives its mellow bitterness and strong hop aroma and flavor from copious amounts of late addition hopping. <br /><br />IBU 60; 6.4% abv
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2 col-sm-offset-1 hidden-xs">
                        <img class="img-responsive" src="app/images/what-we-make/Home_Beer_SlideIn_3.png" alt="Beer" />
                    </div>
                    <div class="col-sm-9">
                        <h2>Four Ginger IPA</h2>
                        <p class="lead">
                            Featuring fresh, candied, pickled &amp; Thai ginger. This IPA dances on your taste buds, truely a summer pleaser. <br /><br />IBU 60; 6.4% abv
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2 col-sm-offset-1 hidden-xs">
                        <img class="img-responsive" src="app/images/what-we-make/Home_Beer_SlideIn_1.png" alt="Beer" />
                    </div>
                    <div class="col-sm-9">
                        <h2>Knotted Porter</h2>
                        <p class="lead">
                            Dark and roasty, our Porter nods its frothy head at the bittersweet chocolate malt that colors this beer.  Mild bitterness and low hop aroma allow this malty elixir to shine.  A completely satisfying sipper.  <br /><br />IBU 35;  5.4% abv
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2 col-sm-offset-1 hidden-xs">
                        <img class="img-responsive" src="app/images/what-we-make/Home_Beer_SlideIn_5.png" alt="Beer" />
                    </div>
                    <div class="col-sm-9">
                        <h2>Widow Maker Wit</h2>
                        <p class="lead">
                            Our Belgian style Wit ale is light, crisp and refreshing.  Cloudy from unmalted wheat, and flavored with orange peel and coriander, our Wit was designed to define the style.  <br /><br />IBU 28; 7% abv
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2 col-sm-offset-1 hidden-xs">
                        <img class="img-responsive" src="app/images/what-we-make/Home_Beer_SlideIn_5.png" alt="Beer" />
                    </div>
                    <div class="col-sm-9">
                        <h2>Beaver Bait Blonde</h2>
                        <p class="lead">
                            An easy drinking ale perfect to quench your thirst and wake up your taste buds for our other offerings. <br /><br />IBU 35; 5.1% abv
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="seasonal">
            <!-- What We Make - Seasonal -->
            <div class="row text-center">
                <h1><img class="hidden-xs" src="app/images/Decorative_Left.png" alt="Decorative Image"> Seasonal <img class="hidden-xs" src="app/images/Decorative_Right.png" alt="Decorative Image"></h1>
                <p class="lead">Availability varies based on Season and our head brewers creativity…please ask your server for current selections!</p>
            </div>
            <!-- What We Make - Menu Items -->
            <div class="row">
                <div class="col-sm-6">
                    <h2>Extra Special Bitter </h2>
                    <p class="lead">
                        Slightly sweet with a fruity quality provided by our house ale yeast Beardslee ESB is a great beer to celebrate the end of the workday. <br /><br />IBU 45; 5.7% abv
                    </p>
                </div>
                <div class="col-sm-6">
                    <h2>Double IPA </h2>
                    <p class="lead">
                        An India Pale Ale that goes one step further in flavor and bitterness. <br /><br /> IBU 75; 7.9% abv
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Triple IPA </h2>
                    <p class="lead">
                        A sipping bitter hop bomb.  Our Triple IPA features more then 3lbs/bbl of the finest aromatic hops riding on top of a nice malty backbone. <br /><br />IBU 95; 9.8% abv
                    </p>
                </div>
                <div class="col-sm-6">
                    <h2>Barley Wine </h2>
                    <p class="lead">
                        A marriage of malt and hops; barley wines are like sipping a fine cognac and just as enjoyable. <br /><br />IBU 80; 9.9% abv
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Belgian Triple</h2>
                    <p class="lead">
                        Our Belgian style Triple is dry and effervescent. A fruity spiciness is created with our house Belgian yeast strain.  Crisp and delicious. <br /><br /> IBU 28; 8.5% abv
                    </p>
                </div>
                <div class="col-sm-6">
                    <h2>Belgian Saison </h2>
                    <p class="lead">
                        Spicy and tart, a saison seeks to elevate the food you eat.  Ours does just that. <br /><br />  IBU 18; 4.8% abv
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>India Session Ale </h2>
                    <p class="lead">
                        A hoppy beer you can drink all day long.  Light in body and heavy on hop flavor our ISA is a perfect "lawnmower" beer. <br /><br />  IBU 55; 4.7% abv
                    </p>
                </div>
                <div class="col-sm-6">
                    <h2>Pumpkin Ale </h2>
                    <p class="lead">
                        Flavored with classic pumpkin pie spices, and with pumpkin meat in the mash, our Pumpkin ale is the real deal.  A "gourdgeous" Autumnal Ale. <br /><br />  IBU 15; 6% abv
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Dry Irish Stout</h2>
                    <p class="lead">
                        Poured with nitrogen, this classic beer cascades in your glass until a perfect frothy head forms and traps the creamy and dry ebony liquid.  Count the rings that form in your glass with each sip. <br /><br /> IBU 28; 4.8% abv
                    </p>
                </div>
                <div class="col-sm-6">
                    <h2>Rye Pale Ale </h2>
                    <p class="lead">
                        Unlike an all barley malt Pale Ale, Rye malt adds spicy and earthy overtones that harmonize with the fruity hops. <br /><br /> IBU 40; 6% abv
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Oktoberfest Marzen</h2>
                    <p class="lead">
                        Bready, malty, crisp and sweet.  Prost! It's Oktoberfest in Bothell! <br /><br />  IBU 20; 5.4% abv
                    </p>
                </div>
                <div class="col-sm-6">
                    <h2>German Wheat </h2>
                    <p class="lead">
                        Featuring a palate of clove and banana from the authentic weihenstephan yeast strain, our Hefeweizen is the ultimate Summer thirst quescher. <br /><br /> IBU 20; 5.3% abv
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>American Stout </h2>
                    <p class="lead">
                        Robust and meaty. Dark yet dank with hop flavor and aroma, our American Stout is a meal in a glass. <br /><br />  IBU 60; 7.3% abv
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
