@{
    ViewBag.Title = "Home";
}



  <!-- Grand Opening - Title Row -->
<div class="container-fluid">
    <div class="row title-row parallax-window" data-parllax="scroll" data-image-src="app/images/Home_Intro_Image.jpg">
        <img class="img-responsive" src="app/images/GrandOpening_Floater.png" alt="Grand Opening" />
    </div>
</div>
<!-- Home -->
<div class="container text-center wow fadeIn" id="home">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Discover Local Craft</h1>
            <p class="lead">
                Beardslee Public House in Bothell, Washington is a Pacific Northwest-inspired and family friendly eatery that specializes in world-class signature brews made on site in our 10-barrel brewery. Beardslee’s menu features high-quality, made-from-scratch comfort cuisine crafted from locally sourced ingredients. Most everything served at Beardslee is made in house: the restaurant grinds its own meat, bakes its own fresh bread and creates artisanal cured meats in a separate, specialized charcuterie kitchen.
            </p>
        </div>
    </div>
</div>

