@{
    ViewBag.Title = "Who We Are";
}


<!-- Who We Are - Title Row -->
<div class="container-fluid" id="who-we-are">
    <div class="row title-row parallax-window" data-parllax="scroll" data-image-src="app/images/Alehouse_Intro_Image.jpg">
        <img class="img-responsive" src="app/images/AleHouse_Floater.png" alt="Ale House" />
    </div>
</div>
<!-- Who We Are - Content -->
<section class="container who-we-are wow fadeInLeft">
    <article class="row">
        <div class="col-sm-5 hidden-xs">
            <img class="img-responsive" src="app/images/who-we-are/DrewChuley.png" alt="Drew Chuley" />
        </div>
        <div class="col-sm-7">
            <h2>Drew Cluley</h2>
            <h3>Head Brewer</h3>
            <p class="lead">
                Drew Cluley, an award-winning master brewer, brings 20 years of extensive craft brewing experience to Beardslee Public House. Drew began his brewing career in Seattle at Pyramid Brewing Company when it opened in 1995. Following a stint as a brewery consultant in Nagano, Japan, Drew returned to the states and worked at Pyramid Alehouse and Big Time Brewery. He eventually became Pike Brewing Company’s assistant head brewer in 2000 when his first commercially produced recipe was released, and became Pike’s head brewer and production manager in 2006. In 2011, Drew returned to Big Time Brewery as head brewer before joining Chef John Howie in June 2014 to design and develop the Beardslee Public House beer program.
            </p>
        </div>
    </article>
    <article>
        <h2>Paige Zahnle</h2>
        <h3>Assistant Brewer and Cicerone</h3>
        <p class="lead">
            Paige Zahnle not only assists Beardslee’s master brewer in the production of every signature brew, but she is also a certified cicerone – one of only approximately 25 certified beer experts in the Greater Seattle area. Paige is also a certified sommelier and has been with the John Howie Restaurant Group since 2011. Her passion for travel has taken her around the world in search of great food, wine and, yes, beer.
        </p>
    </article>
    <article>
        <h2>Jed Laprade</h2>
        <h3>Executive Chef </h3>
        <p class="lead">
            Jed Laprade brings 10 years of fine-dining experience with John Howie Restaurants, most recently as opening sous chef at Seattle’s Seastar Restaurant and Raw Bar. Jed distinguished himself at Seastar Restaurant and Raw Bar in Bellevue, starting in the pantry and working his way up the line. Formally trained at the highly regarded Culinary Arts Program at South Seattle College, Jed has made a strong impact on each restaurant he has served. Although he has an accomplished fine-dining background, his passion is comfort food and he is excited to helm the scratch cooking concept at Beardslee.
        </p>
    </article>
    <article>
        <h2>Erik Agnew</h2>
        <h3>General Manager</h3>
        <p class="lead">
            Erik Agnew has spent his entire professional career in restaurants, from sports bars and nightclubs to casual dining and high-end steakhouses. Erik is a sommelier whose wine program at J&G Steakhouse in Scottsdale, Ariz. was recognized as a “Best Of” by Wine Spectator in 2012 and 2013. Prior to joining the Beardslee team, Erik was food and beverage director at the prestigious Overlake Golf and Country Club in Medina, Wash. Erik is passionate about creating positive guest experiences through knowledgeable service and warm, professional hospitality.
        </p>
    </article>
    <article>
        <h2>Erik Liedholm</h2>
        <h3>Partner & Company Wine Director, John Howie Restaurant Group Co-Owner and Distiller, Wildwood Spirits Co.</h3>
        <p class="lead">
            Erik Liedholm likes to say he is knowledgeable about all things wet, which is actually the best way to explain the breadth and depth of his expertise. Erik is an Advanced Level Sommelier (Level III) and, as John Howie Restaurant Group’s wine director, his wine lists have received numerous awards, including Best New Wine List in America by <i>Food and Wine Magazine</i>, and the Best of Award of Excellence by <i>Wine Spectator</i> magazine. He was the 2014 winner of the National Somm Slam competition at the International Chef Congress in New York, was named Sommelier of the Year in 2012 by <i>Seattle Magazine</i> and received <i>The Seattle Times</i> Walter Clore Award for outstanding achievement in the wine industry in 2006.
            Erik is also co-owner and distiller of Wildwood Spirits, Co., a distillery inspired by both Chef and Sommelier sensibilities producing craft spirits using a local farm to distillery approach. Kur Gin and Stark Vatten Vodka, both released in 2014, have received numerous accolades, including awards from the New York World Wine and Spirits Competition and the San Francisco World Spirits Competition – the two most recognized competitions in the spirits industry that comprise the Triple Crown of Wine & Spirits Competitions.
            Erik is a Cum Laude graduate and honorary faculty member at Michigan State University’s School of Hospitality Business. He is also a certified distiller from the London-based Institute of Brewing and Distilling and the only accredited Coffee Sommelier in the Pacific Northwest.
        </p>

    </article>
    <article>
        <h2>Chef John Howie</h2>
        <h3>Chef and Proprietor, John Howie Restaurant Group</h3>
        <p class="lead">
            Chef John Howie’s restaurants, ranging from casual, scratch-cooking establishments to fine dining, are renowned for infusing innovation into evolving seasonal menus that feature the highest quality, sustainable meat and seafood with locally sourced ingredients. In recognition of being chef and proprietor of some of the Seattle Area’s most prominent restaurants, Chef Howie was nominated Outstanding Restaurateur by the James Beard Foundation Awards in 2013 and has been invited to be guest chef at the James Beard House on five separate occasions.
            Chef Howie is also author of the cookbook <i>Passion & Palate: Recipes for a Generous Table</i> and is a sought-after culinary expert featured in local and national media, including <i>Martha Stewart Living</i>, <i>The Today Show</i>, <i>The CBS Early Morning Show</i>, <i>Cooking Channel</i>, <i>Food Network</i>, <i>The Wall Street Journal</i> and <i>The New York Times</i>.
            Chef Howie and his restaurants are as recognized for philanthropic generosity as they are for culinary achievement. Since 2002, the John Howie Restaurant Group has received numerous awards for philanthropy and community involvement, and has given more than $4.5 million to hundreds of charitable organizations.
            The John Howie Restaurant Group includes Seastar Restaurant and Raw Bar (Bellevue), Sport Restaurant & Bar (Seattle), John Howie Steak (Bellevue), Beardslee Public House (Bothell), Wildwood Spirits Co. (Bothell) and In.gredients (Microsoft Redmond campus).
        </p>
    </article>
</section>
